<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <appSettings>
        <add key="AuthToken" value="HVCLS" />
    </appSettings>
    <connectionStrings>
        <add name="DB" connectionString="server=localhost\SQLEXPRESS;database=StockPicker;uid=EquityMetrics5;password=5t6y&amp;U*I;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>